<!DOCTYPE html>
<html>

<head>
    <title>Search Results</title>
</head>

<body>
    <h1>Search Results</h1>
    {% if results %}
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
        </tr>
        {% for book in results %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No results found.</p>
    {% endif %}
    <br>
    <a href="/search">Back to Search</a>
    <a href="/">Back to Home</a>
</body>